<div class="container">
  <h3>생성된 시험</h3>
  <div class="panel panel-default" ng-repeat="quiz in $ctrl.quizs">
    <div class="panel-body">
      <h3>시험명: {{quiz.title}}</h3>
      <h5>문제 목록</h5>
      <ul>
        <li ng-repeat="question in quiz.questions">
          {{question.questionText}} ==> {{question.currectAnswer}}
        </li>
      </ul>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">시험 만들기</div>
    <div class="panel-body">
      <h3>시험 이름</h3>
      <input class="form-control" type="text" ng-model="$ctrl.title">
      <h3>문제 선택</h3>
      <input type="text" ng-model="$ctrl.selectedQuestionText">
      <button class="btn btn-info" ng-click="$ctrl.addQuestion()" ng-disabled="$ctrl.sselectedQuestionTextelectedWord === ''">
        <i class="fa fa-plus" /> 추가하기</button>
      <hr/>
      <div class="selected-questions">
        <ul>
          <li ng-repeat="question in $ctrl.addQuestions">
            {{question.questionText}} - {{question.currectAnswer}}
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-footer">
      <button type="button" class="btn btn-info" ng-click="$ctrl.save()">
        <i class="fa fa-save" /> 생성하기</button>
    </div>
  </div>
</div>
